div p {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid {
  background-color: #b4b6c2;
  height: 475px;
  width: 475px;
  padding: 15px;
}

.grid-row {
  margin-bottom: 15px;
  display: block;
  float: left;
}

.grid-item {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 15px;
}

.grid-item.last-item {
  margin-right: 0px;
}

#score {
  margin-top: 30px;
  text-align: center;
  font-family: monospace;
  text-shadow: 2px 2px #abcedf;
}

#title {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  color: orange;
}

#game-over {
  margin-top: 30px;
  text-align: center;
  font-family: monospace;
  text-shadow: 2px 2px #abcedf;
  visibility: hidden;
}
